  <div class="ui-g-12 ui-lg-12 ui-md-12 header">
    <div class="ui-g-12 ui-lg-1 ui-md-2 p-0 animated jello">
      <a routerLink="/home">
        <img src="../assets/images/sampleLogo.png" height="110px" alt="company-logo" />
      </a>
    </div>
    <div class="ui-g-12 ui-lg-10 ui-md-10 animated rubberBand">
      <span class="company-title">AnuSoft Pvt Ltd</span>
    </div>

  <!-- <div class="ui-g-12 ui-lg-4 ui-md-4 ui-md-offset-2">
    <div class="ui-g-1 ui-lg-1 ui-md-1 ui-md-offset-2">
      <i class="fa fa-map-marker fa-3x" style="color:#e94335" aria-hidden="true"></i>
    </div>
    <div class="ui-g-6 ui-lg-6 ui-md-6">
      <span class="txt-addrs">
        Mindspace IT park,<br>
        Building #9 Madhapur,<br>
        Hitech City Hyd-500089</span>
    </div>
  </div> -->
</div>