<div class="ui-g-12 ui-lg-12 ui-md-12 header">
  <div class="ui-g-12 ui-lg-12 ui-md-12 animated rubberBand">
    <a routerLink="/home">
      <img
        class="logo-image pointer"
        src="../assets/images/sampleLogo.png"
        alt="company-logo"
      />
    </a>
    <span class="company-title">AnuSoft Pvt Ltd...</span>
    <span class="txt-right txt-addrs">
      <p>HitechCity Hyderabad-500089</p>
    </span>
    <span class="txt-right">
      <i
        class="fa fa-map-marker fa-3x"
        style="color:#e94335"
        aria-hidden="true"
      ></i>
    </span>
  </div>
</div>
