<div class="ui-g-12 ui-md-12 ui-lg-12 p-0">
  <div class="ui-g">
    <div class="ui-md-offset-4 ui-md-4 txt-center p-0">
      <p-card header="About Us" [style]="{width: '600px'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="../assets/images/galleria/galleria1.png">
        </p-header>
        <div class="txt-para">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
            deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
            deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
            deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
          
          </p>
        </div>
      </p-card>
    </div>
  </div>
</div>