<div class="ui-g-12 ui-md-12 ui-lg-3 p-t-20">
  <span *ngIf="!authService.isLoggedIn()">
    <span class="txt-msg">
      Please Login to Continue...
    </span>
    <span class="blink p-l-25">
      <i class="fa fa-hand-o-up fa-3x" style="color:#333333" aria-hidden="true"></i>
    </span>
  </span>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-9 p-t-0">
  <div class="ui-g-12 ui-lg-12 ui-md-12">
    <span class="heading-text">AnuSoft Pvt Ltd welcomes you...</span>
  </div>
  <div class="ui-g-12 ui-lg-12 ui-md-12">
    <p-galleria [images]="images" panelWidth="900" panelHeight="500"></p-galleria>
  </div>
</div>
